body {
  text-align: center;
  align-items: center;
} 

h1 {
  font-weight: bold;
}

#details {
  background: red;
  display: flex;
  flex-direction: horizontal;
  
}

#details div {
  width: 25%;
  float: center;
}

nav a {
  padding: 10px;
  background-color: seashell;
}

figcaption {
  font-size: smaller;
}

#featured-property {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#featured-property figure {
  width: 900px;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

